.pokemon-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 0 auto 100px;
  width: 100%;
  max-width: 900px;
}

@media screen and (min-width: 400px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 940px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}